preguntas3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="questions">
  <xs:complexType>
    <xs:sequence>
    <xs:element name="question" maxOccurs="10" minOccurs="0"/>
      </xs:sequence>
        </xs:complexType>
        <xs:complexType>
        <xs:sequence>
        <xs:element name="type" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="option" type="xs:string"/>
      <xs:element name="answer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>